.box{
    text-align: center;
    border:2px solid gray;
    margin: auto;
    padding: 20px;
    width: 200px;
    box-sizing: content-box;
    
}
.box h4{
    margin: 0;
    padding: 10px;
}
.box img{
    border-radius: 50%;
    border:3px solid pink;
    width: 200px;
    height: 200px;
    margin: auto;
}
body{
    border: solid 5px;
    padding: 100px;
    box-sizing: content-box;
}